.app-container {
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
  padding: 2rem;
  background-color: #0a0a0a;
  color: #cccccc;
  min-height: 100vh;
  z-index: 2;
}

.title {
  text-align:  center;
  font-family: 'Segoe UI', sans-serif;
  padding: 2rem;
  background-color: #0a0a0a;
  color: #cccccc;
  font-size: 10rem;
  z-index: 1;
}

.controls-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem; /* spacing between buttons and status */
  margin-top: 10rem; /* or whatever vertical spacing you want */
  margin-bottom: 30rem;
}

.button-row {
  display: flex;
  justify-content: center;
  gap: 2rem;
  position: relative;
  height: 120px; /* prevent layout jump */
  z-index: 2;
}

.circle-button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: none;
  font-size: 1rem;
  background-color: #2a2a2a;
  color: #eeeeee;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(255,255,255,0.1);
  transition: all 0.2s ease;
}

.circle-button:hover {
  background-color: #3d3d3d;
}

.action-status {
  margin-top: 2rem;
  font-size: 1.2rem;
  color: #aaaaaa;
}

.progress-circle {
  width: 200px;
  height: 20px;
  background: #1a1a1a;
  margin: 1rem auto;
  border-radius: 10px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  background: #a5ec48;
  transition: width 0.3s ease;
}

.output-text {
  margin-top: 2rem;
  font-size: 1.1rem;
  background: #1c1c1c;
  padding: 1rem;
  border-radius: 8px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  color: #dddddd;
  box-shadow: 0 0 10px rgba(255,255,255,0.05);
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #1c1c1c;
  color: #cccccc;
  overflow: hidden;
  box-shadow: 2px 0 5px rgba(0,0,0,0.2);
  z-index: 4;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: width 0.3s ease;
}

.sidebar .author {
  position: absolute;
  bottom: 3rem;
  left: 1rem;
  right: 1rem;
  font-size: 0.8rem;
  opacity: 0.6;
}

.sidebar .date {
  position: absolute;
  bottom: 2rem;
  left: 1rem;
  right: 1rem;
  font-size: 0.5rem;
  opacity: 0.6;
  color: #f5f5f5;
}


.sidebar-content {
  opacity: 0;
  transition: opacity 0.3s ease 0.1s;
}

.sidebar:hover .sidebar-content {
  opacity: 1;
}

.sidebar h3 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.sidebar p {
  font-size: 0.9rem;
  margin: 0.5rem 0;
}

.social-icons {
  position: absolute;
  bottom: 3.2rem;
  left: 9rem;
  display: flex;
  gap: 0.5rem;
  opacity: 0.8;
}

.social-icons img {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.social-icons img:hover {
  transform: scale(1.2);
  opacity: 1;
}

.footer-stats {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #111111;
  color: #aaaaaa;
  padding: 0.5rem 1rem;
  font-size: 0.85rem;
  text-align: center;
  box-shadow: 0 -1px 3px rgba(0,0,0,0.3);
  z-index: 3;
}
